<nav class="navbar navbar-expand-lg bg-white text-dark">
    <div class="container pt-2">
        <a class="navbar-brand text-dark" routerLink="#">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <span class="text-primary mx-2 fw-bold">OPPOR</span>
            <span class="fw-bold">TUNITIES</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <ul class="navbar-nav  mb-lg-0">
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle text-dark fw-bold" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        HOME
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </ul>
                </li>
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle text-dark fw-bold" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        PAGES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </ul>
                </li>
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle text-dark fw-bold" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        MEGA MENU
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </ul>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-primary ms-2 fw-bold">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        POST A JOB
                    </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-secondary ms-2 fw-bold">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        LOGIN
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>